{% extends "OCStockManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Page de gestion des niveaux de Stock{% endblock %}

{% block body %}

{% form_theme formCategories _self %}

{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{# <div class="well">
    {{ form_row(formCategories) }}
</div> #}
    {% block content %}
        {{ form_row(formCategories) }}
    {% endblock %}

{% endblock %}