{% extends "OCStockManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Page de gestion des niveaux de Stock{% endblock %}

{% block body %}
{# LISTE DES CATEGORIES HIERARCHISEE #}

    <ul>
        {% for category in listCategories %}
            <li><span>{{ category.name }}</span></li>
            <ul>
                {% for sub_category in category.children %}
                    <li><span>{{ sub_category.name }}</span></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>

{# FORMULAIRE #}

<div class="well">
    {{ form_row(form.name) }}
</div>

{% endblock %}