<ul>
    {% for category in formCategories %}
        {% if category.vars.id != "collection__token" %}
            {% if category.vars.data.parentId == currentParentCategoryId %}
                {{ form_label(category, "", {"label_attr": {"class": "label_category"}}) }}
                <li>
                    {{ form_widget(category) }}
                </li>
                {% include "manageSubCategories.html.twig" with {'currentParentCategoryId': category.vars.data.id} %}
                {# {% set depth = depth + 1 %} #}
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>