{% extends "OCUserBundle::layout.html.twig" %}


{% block title %}{{ parent() }}Accueil - Utilisateur non modéré{% endblock %}

{% block body %}
    <p>Un Administrateur doit modérer votre compte avant que vous ne puissiez profiter des fonctionnalités de l'application.</p>
{% endblock %}